{% extends "base.html" %} 
{% block content %}
<button> <a href="https://docs.google.com/forms/d/139IJWFmnBFKLZjLKHAHbEnYQElWiuXuLzkDwfXRwDbY"> Đăng Mua </a></button>
<br>
<br>

<!-- Place this tag where you want the Awesome Table Widget to render -->
<div data-type="AwesomeTableView" data-viewID="-Lr2zVqIjTQIP6OyYGuz"></div>

<!-- Place this within the <head> tag or just before the end of your <body> tag. -->
<script src="https://awesome-table.com/AwesomeTableInclude.js"></script>

{% endblock content %}