{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Nhóm Phát Triển</h5>
    <div class="card-body">
        <p class="card-text"> Đây là sản phẩm demo do Nguyễn Huỳnh Tố Quyên và Lý Hiểu Văn Phát Triển.</p>
        <a href=""
           class="btn btn-danger">Tìm Hiểu Thêm!</a>
    </div>
</div>
</div>

{% endblock sidebar %}