{% extends "base.html" %} 
{% block content %}

<button> <a href="https://docs.google.com/forms/d/1fD3WNxbMByisJ_USVeKBvPuCZ85v-h4IsH6GvdeLnRQ/edit"> Trở thành Mentor </a></button>
<br>
<br>

<!-- Place this tag where you want the Awesome Table Widget to render -->
<div data-type="AwesomeTableView" data-viewID="-LrBWYuX9aZ6_F_rAWNh"></div>

<!-- Place this within the <head> tag or just before the end of your <body> tag. -->
<script src="https://awesome-table.com/AwesomeTableInclude.js"></script>

{% endblock content %}