{% extends "base.html" %} 
{% block content %}
<button> <a href="https://docs.google.com/forms/d/1qHf1AA13wLXT99LXHqmX3IpmTteD2OkFIKsuruGJN9g"> Trở thành Mentee </a></button>
<br>
<br>

<!-- Place this tag where you want the Awesome Table Widget to render -->
<div data-type="AwesomeTableView" data-viewID="-Lpf2i2rJitB2N9YyCUP"></div>

<!-- Place this within the <head> tag or just before the end of your <body> tag. -->
<script src="https://awesome-table.com/AwesomeTableInclude.js"></script>

{% endblock content %}